<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
  {% endif %}
  {% if site.jiathis %}
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style">
	  <span class="jiathis_txt">分享到：</span>
	  <a class="jiathis_button_tsina">新浪微博</a>
	  <a class="jiathis_button_tqq">腾讯微博</a>
	  <a class="jiathis_button_weixin">微信</a>
	  <a class="jiathis_button_qzone">QQ空间</a>
	  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	  <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1394941058654562" charset="utf-8"></script>
<!-- JiaThis Button END -->
  {% endif %}
</div>
