<!-- nav-menu-dropdown -->

<style>
    #nav-menu {
        position: fixed;
        top: 25px;
        right: 25px;
        z-index: 2000;
        padding: 0rem 0rem;
    }
    table {
        margin: auto;
    }
</style>

<button type="button" class="btn btn-light" id="nav-menu">
    <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bars"></i
    ></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ site.baseurl }}/"> <i class="fa fa-list"></i> posts</a>
        <a class="dropdown-item" href="{{ site.baseurl }}/{{ 'bydate.html' }}">
            <i class="fa fa-long-arrow-right"></i> compact by date</a
        >
        <a class="dropdown-item" href="{{ site.baseurl }}/{{ site.categories_path }}">
            <i class="fa fa-long-arrow-right"></i> categories</a
        >
        <a class="dropdown-item" href="{{ site.baseurl }}/{{ site.tags_path }}"> <i class="fa fa-tag"></i> tags</a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="https://github.com/rangercyh"> <i class="fa fa-github"></i>&nbsp;github</a>
        <a class="dropdown-item" href="{{ site.baseurl }}/feed.xml"> <i class="fa fa-rss"></i>&nbsp;rss</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> top</a>
    </div>
</button>
